body {
    font: normal 14px Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    max-height: 0;
    top: 0; 
    left: 0; 
    background-color: #2180D7;
    width: 100%;
    overflow: hidden;

    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.banner-content {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    overflow: hidden;
    text-align: center;
}

.banner-text {
    color: #fff;
    display: inline;
}

.banner-text:hover {
    cursor: pointer;
}

.close-banner {
    color: #fff;
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.close-banner:hover {
    cursor: pointer;
}

.slideup {
    max-height: 0px !important;
}
